<header>
    <h1>Tervetuloa!</h1>
    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/about">Tietoa</a></li>
            <li><a href="/contact">Yhteystiedot</a></li>
        </ul>
    </nav>
</header>